.BeerCategory {
	margin: 0;
	padding: 0;
}

.BeerCategory h2 {
	margin: 0;
	color: #546e7a;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 16px 16px;
}

.BeerCategory ul {
	margin: 0;
	padding: 8px 0;
	list-style: none;
}

.BeerCategory ul li {
	padding: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
